.input__block {
  width: 100%;
  .input {
    outline: none;
    border: 1px solid #000;
    border-radius: 15px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
  }
  .select {
    font-weight: bold;
    font-size: 18px;
    width: 130px;
    text-align: center;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 1150px) {
  .input__block {
    .input {
      max-width: 230px;
    }
    .select {
      max-width: 60px;
    }
  }
}
