.combinepages__container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  .combinepages {
    width: 100%;
    position: relative;

    .mobile__financial__button {
      display: none;
      width: 200px;
      height: 40px;
      position: absolute;
      outline: none;
      border: 1px solid grey;
      background: #fff;
      border-radius: 15px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .combinepages__container {
    .combinepages {
      .mobile__financial__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
}
